body {
	background-color: #888;
	margin: 25px;
}
div.content{
	margin: 0;
	margin-bottom: 10px;
	background-color: #d3e0ea;
	border: 5px solid #333;
	padding: 5px 25px 25px 25px;
}
h1.main{
	width: 100%;
	border-bottom: 1px solid #000;
}
p.footer{
	width: 100%;
	padding-top: 3px;
	border-top: 1px solid #000;
}
div#message{
	color: orangered;
}
div#trash{
	float: right;
	margin: 0px 20px 20px 20px;
	background: #eee;
	border: 1px solid #000;
	padding: 15px;
}
